{% extends "reservations/base.html" %}
{% block title %}Reservations{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="reservation">
            <p>Make reservation in {{ object.title }}</p>
            <form action="{% url 'make_reservation' object.id %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Reserve</button>
            </form>
            {% if messages %}
                <div class="error">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% for reservation in reservations %}
            Table {{ reservation.table }} in {{ reservation.date|date:"d.m.Y" }} {{ reservation.time|time:"H:i" }} is reserved<br>
        {% endfor %}
    </div>
{% endblock %}
